@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/* :root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
} */

*{
     /* margin: 0;padding: 0; */
        /* box-sizing: border-box; */
    
     text-transform: capitalize;
}
body{
font:15px/1.5 "Poppins" , sans-serif;
padding: 0;
margin: 0;
background-color: #f4f4f4;
}
/* global */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.dark{
    background-color: #35424a;
    color: white;
    padding: 10px;
    text-align: center;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
/* header */
header{
    background: #35424a;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid orangered;
}
header a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}

header ul li{
    float: left;
    display: inline;
    padding: 0 20px;
}
header #branding{
    float: left;
}
header #branding h1{
    margin: 0;
}
header nav{
    float: right;
    margin-top: 10px;
}

header .hight-brand,header .current{
    color: orangered;
    font-weight: bold;
}
header ul li a:hover{
    font-weight: bold;
    color: aqua;

}
/* hero section */
#hero{
    min-height: 400px;
    text-align: center;
    color: black;
    padding-top: 100px;
    background: url("./image/Jellyfish.jpg") cover;
}
#newsletter{
    padding: 20px;
    background-color: #35424a;
    margin-bottom: 20px;
    color: white;
    background-size: cover;
}
#newsletter h1{
    float: left;
}

#newsletter form{
    float: right;
    margin-top: 20px;
    
}
#newsletter input[type="email"]{
    width: 250px;
    height: 25px;
    padding: 10px;

}
#newsletter input[type="email"]::placeholder{
    font-size: 18px;
    
}
#newsletter .button1{
    width: 90px;
    height: 45px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 16px;
    background: orangered;
    border: 0;
    
}
/* boxes */
.box{
    width: 30%;
    float: left;
    padding: 20px;
    text-align: center;
}
.box img{
    width: 120px;
}
footer{
    background-color: orangered;
    padding: 5px;
    color: wheat;
    font-size: 24px;
    text-align: center;
}
/* about */
.side{
    margin-top: 50px;
    margin-bottom: 50px;
}
.content-about{
    width: 65%;
        float: left;
}
.sidebar{
    width: 30%;
    float: right;
}
/* services */
.services{
    margin-top: 50px;
    margin-bottom: 50px;

}
.content-service{
    width: 65%;
    float: left;
}


.content-service p{
background-color: rgba(0, 0, 0, 0.5);
}
.sidebar-service{
  float: right;
  width: 30%;
}
@media (max-width:768px){
  header, .branding ,header nav, header nav li,
  .content-service,.sidebar,.content-about,.sidebar-service{
      float: none;
      width: 100%;
      text-align: center;
      padding:3px;
  }
 
  #newsletter h1{
      text-align: center;
      
  }
  
  #newsletter button{
      display: block;
      width: 100%;
  }
  #newsletter .button1{
    width: 100%;
    margin-top: 10px;
}
#newsletter input[type="email"]::placeholder{
    padding: 10px;
}
.box{
    width: 100%;
}
.services label{
    margin-top: 30px;


}
}